.traffic-light {
    width: 150px;
    height: 150px;
    background-color: gray;
    margin: 10px auto;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #red {
    background-color: gray;
  }
  
  #yellow {
    background-color: gray;
  }
  
  #green {
    background-color: gray;
  }